<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayEmployeeFromDepartmentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DisplayEmployeeFromDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEmployeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayHighestPaidEmployeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DisplayHighestPaidEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayEmployeeFromDepartmentServlet</servlet-name>
        <url-pattern>/DisplayEmployeeFromDepartmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEmployeeServlet</servlet-name>
        <url-pattern>/RemoveEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayHighestPaidEmployeeServlet</servlet-name>
        <url-pattern>/DisplayHighestPaidEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>SecretaryConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>SecretaryResources</web-resource-name>
            <description>Resources available to a secretary</description>
            <url-pattern>/add_employee.jsp</url-pattern>
            <url-pattern>/AddEmployeeServlet.do</url-pattern>
            <url-pattern>/add_employee_outcome.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of secretary</description>
            <role-name>secretary</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ManagerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ManagerResources</web-resource-name>
            <description>The resources available for manager</description>
            <url-pattern>/display_from_department_outcome.jsp</url-pattern>
            <url-pattern>/DisplayEmployeeFromDepartmentServlet.do</url-pattern>
            <url-pattern>/display_employee_from_department.jsp</url-pattern>
            <url-pattern>/RemoveEmployeeServlet.do</url-pattern>
            <url-pattern>/remove_employee.jsp</url-pattern>
            <url-pattern>/remove_employee_outcome.jsp</url-pattern>
            <url-pattern>/display_highest_paid_employee.jsp</url-pattern>
            <url-pattern>/display_highest_payed_employee_outcome.jsp</url-pattern>
            <url-pattern>/DisplayHighestPaidEmployeeServlet.do</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of manager</description>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>FRealm</realm-name>
        <form-login-config>
            <form-login-page>/logIn.jsp</form-login-page>
            <form-error-page>/login_error_page.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>A secretary can add a newm employee on the database</description>
        <role-name>secretary</role-name>
    </security-role>
    <security-role>
        <description>A manager can remove an employee from database,Display all the employees from a specific department and display the highest paid employee in the department</description>
        <role-name>manager</role-name>
    </security-role>
    <error-page>
        <error-code>403</error-code>
        <location>/access_denied.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/employee_not_found.jsp</location>
    </error-page>
</web-app>
